{
  "Profiles": [
    {
      "Name": "Main",
      "Guid": "b76c6361-829e-4657-ab21-0e5b8e39fdb7",
      "Has Hotkey" : true,
      "HotKey Characters" : "z",
      "HotKey Key Code" : 6,
      "HotKey Characters Ignoring Modifiers" : "z",
      "HotKey Modifier Flags" : 524576,
      "HotKey Window AutoHides" : false,
      "HotKey Window Floats" : false,
      "Initial Text" : "tmux-start",
      "Scrollback With Status Bar" : false,
      "Rows": 50,
      "Columns": 201,
      "Disable Window Resizing" : true,
      "Show Mark Indicators" : false,
      "Keyboard Map" : {
        "0xf701-0x240000-0x7d" : {
          "Version" : 2,
          "Apply Mode" : 0,
          "Action" : 10,
          "Text" : "[1;5B",
          "Escaping" : 2
        },
        "0xf700-0x240000-0x7e" : {
          "Version" : 2,
          "Apply Mode" : 0,
          "Action" : 10,
          "Text" : "[1;5A",
          "Escaping" : 2
        },
        "0xf702-0x240000-0x7b" : {
          "Version" : 2,
          "Apply Mode" : 0,
          "Action" : 10,
          "Text" : "[1;5D",
          "Escaping" : 2
        },
        "0xf703-0x240000-0x7c" : {
          "Version" : 2,
          "Apply Mode" : 0,
          "Action" : 10,
          "Text" : "[1;5C",
          "Escaping" : 2
        }
      },
    },
  ]
}
