# Various text separators

snippet === "68 character wide equal sign separator" b
====================================================================
endsnippet

snippet == "10 character wide equal sign separator" b
==========
endsnippet

snippet --- "68 character wide dash separator" b
--------------------------------------------------------------------
endsnippet

snippet -- "10 character wide dash separator" b
----------
endsnippet
