~/.local/share/chezmoi
~/develop/notes-manager
~/develop/pigshare
~/develop/pyBib
~/develop/pyder
~/develop/sandbox
~/develop/scripts
~/develop/www.vonwelch.com
~/develop/www.vwelch.com
~/.hammerspoon/MySpoons/Contexts.spoon
~/.hammerspoon/MySpoons/Email.spoon
~/.hammerspoon/MySpoons/ModalExt.spoon
~/.hammerspoon/MySpoons/MouseBind.spoon
~/.hammerspoon/MySpoons/PasteBoardExt.spoon
~/.hammerspoon/MySpoons/PasteRegister.spoon
~/.hammerspoon/MySpoons/PasteStack.spoon
~/.hammerspoon/MySpoons/ScreenSaver.spoon
~/.hammerspoon/MySpoons/Tiler.spoon
~/.hammerspoon/MySpoons/YTMusic.spoon
~/private
~/repos/scripts
~/repos/tmuxp-popup
~/repos/to-env
{{- if eq .chezmoi.hostname "Vons-PL" }}
~/develop/cd-utils
~/develop/dvd-util
~/Google Drive/My Drive/BPP Board/
~/Google Drive/My Drive/Constellation/
~/Google Drive/My Drive/Beacon/
~/Google Drive/My Drive/Personal/
~/Google Drive/My Drive/Resume/
~/Google Drive/My Drive/Rotary/
~/Google Drive/My Drive/Wesnoth/
{{- end }}
# vim:ft=ini:
